html, body {
  margin: 0;
  padding: 0,
  min-height: 100vh;
}

body {
  background-color: #0f0;
  transition: background-color 1s;
}

.pepega-wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center; 
}

.pepega {
  font-size: 72px;
  font-weight: bolder;
  font-family: 'Arial Black',Arial,sans-serif;
  color: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .pepega {
    animation: Pepega-spin infinite 1s linear, tremor infinite 1s linear;
  }
	
  .pepega-inner {
	  animation: tremor infinite 0.1s linear;
  }
  
  body {
    animation: rainbow-bg infinite 1s linear, tremor infinite 1s linear;
  }
}

@keyframes Pepega-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tremor {
	0%, 25% {
		left: -1px;
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%);
	}
	50%, 100% {
		left: 1px;
        -webkit-transform: translateY(4%);
        transform: translateY(4%);
	}
}


@keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}

